version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpassword
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://testuser:testpassword@db:5432/test_db?schema=public
      - PORT=4001
    ports:
      - "4001:4001"
    volumes:
      - .:/app
    command: sh -c "npx prisma generate && npx prisma migrate && npx prisma db push &&  npm run build && node dist/server.js"
    restart: always

volumes:
  postgres_data: 